/*reset.css*/
/* RESETS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font: 62.5% / 1.15 sans-serif;
}

ul {
    list-style: none;
}

button {
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    appearance: none;
}


button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    /* 1 */
    overflow: visible;
}

input[type="text"] {
    border-radius: 0;
}

body {
    margin: 0 auto;
    font: 1.6rem/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* when width is more than 620px */
@media screen and (min-width: 620px) {
    body {
        font-size: 1.9rem;
        line-height: 1.31579;
    }

    header>img {
        display: none;
    }

    main {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 960px;
    }

    nav {
        width: 300px;
        min-height: 100vh;
        min-width: 250px;
    }
}

@media screen and (max-width: 620px) {
    nav {
        width: 100vw;
    }
}

/*END RESETS*/

header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #222222;
    padding: 1.6rem;
    font-size: 3rem;
    box-shadow: 1px 1px 1px #2B3A55;
}

header>img {
    cursor: pointer;
}

main {
    min-height: calc(100vh - 104px - 48px);
}

nav {
    background-color: #FFEBAD;
    padding: 2rem;
    box-shadow: 1px 1px #c7c490;
    border-top: 1px solid #000000;
    margin-bottom: 1px;
}

nav>button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 0.2rem;
}

nav>input {
    display: flex;
    height: 1px;
    width: 1px;
    
}

nav>button:hover {
    background-color: #FFEBAD;
    filter: brightness(80%);
    outline: 1px solid #000000;
}

nav>h3 {
    padding: 1rem;
    padding-left: 3rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.6rem;
    background-color: #222222;
    color: white;
    gap: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projectItems {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.8rem 1.7rem;
}

.projectItems>button {
    width: 100%;
    align-self: flex-start;
    text-align: start;
    justify-content: flex-start;
}

.toDoItems {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    padding: 6rem;
    padding-top: 3rem;
}


.toDoItems>ul>li,
.projectItems>ul>li {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.toDoItems>ul>li:hover {
    background-color: #EAEAEA;
    filter: brightness(90%);
    border-radius: 0.4rem;
}

.projectItems>ul>li:hover, .projectItems>button:hover {
    background-color: #FFEBAD;
    filter: brightness(90%);
    border-radius: 0.4rem;
    outline: 1px solid #000000;
}

.projectItems>ul>li>div {
    display: flex;
    align-items: center;
}
.toDoItems>ul>li>div>*,
.projectItems>ul>li>div>* {
    cursor: pointer;
    margin: 0 0.5rem;
}

.addTaskBtn, .addProjectBtn{
    cursor: pointer;
    background-color: #EAEAEA;
    outline: 1px solid #B2B2B2;
    padding: 0.7rem;
    border-radius: 0.2rem;
}

.addProjectBtn {
    background-color: transparent;
    outline: transparent;
}

#new-todo-input {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border-style: solid;
    outline: 1px solid #B2B2B2;
}

.addTaskBtn:hover {
    filter: brightness(90%);
}

.btnDiv {
    display: flex;
    gap: 1rem;
}

.addBtn,
.cancelBtn {
    padding: 0.6rem;
    border-radius: 0.4rem;
    width: 100%;
    outline: 1px solid #B2B2B2;
    cursor: pointer;
}

.addBtn {
    background-color: #59CE8F;
}

.cancelBtn {
    background-color: #FF8B8B;
}

.bookmark {
    appearance: none;
    height: 2px;
    width: 2px;
    border-right: 21px solid rgb(66, 66, 66);
    border-bottom: 30px solid transparent;
    left:20px;
    margin-right: 2px;
}

.bookmark:before {
    display: block;
    content: "";
    border-left: 21px solid rgb(66, 66, 66);
    border-bottom: 30px solid transparent;
}

.todoBookmark {
    appearance: none;
    height: 2px;
    width: 2px;
    border-right: 15px solid rgb(66, 66, 66);
    border-bottom: 21px solid transparent;
    margin-right: 2px;
    border-radius: 2px;
}

.todoBookmark:before {
    display: block;
    border-radius: 2px;
    content: "";
    border-left: 15px solid rgb(66, 66, 66);
    border-bottom: 21px solid transparent;
}
.todoBookmark:checked {
    border-right-color: #E64848;
    border-radius: 2px;
    animation: scale 0.4s;
    transition: 0.1s 0.3s border;
}

@keyframes scale {
    80% {
        transform: scale(0.8);
    }
    
}
.todoBookmark:checked:before{
    border-left-color: #E64848;
    border-radius: 2px;
    transition: 0.1s 0.3s border;
}