/*reset.css*/
/* RESETS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font: 62.5% / 1.15 sans-serif;
}

ul {
    list-style: none;
}

button {
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    appearance: none;
}


button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    /* 1 */
    overflow: visible;
}

input[type="text"] {
    border-radius: 0;
}

body {
    margin: 0 auto;
    font: 1.6rem/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 620px) {
    body {
        font-size: 1.9rem;
        line-height: 1.31579;
    }
}

/*END RESETS*/

header {
    color: white;
    background-color: #222222;
    padding: 1.6rem;
    font-size: 3rem;
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 960px;
    height: 100%;
}

nav {
    width: 300px;
    min-height: 100vh;
    min-width: 250px;
    background-color: #FFEBAD;
    padding: 2rem;
}

nav>button {
    cursor: pointer;
    display: block;
    padding: 1rem;
}

nav>h3 {
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.6rem;
    background-color: #222222;
    color: white;
    gap: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projectItems {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    padding: 6rem;
    padding-top: 3rem;
}

.projectItems>ul>li {
    padding: 1rem;
}

.projectItems>ul>li:hover {
    background-color: #EAEAEA;
    border-radius: 0.4rem;
}

.projectItems>ul>li>input {
    margin-right: 1rem;
}

.addTaskBtn {
    background-color: #EAEAEA;
    outline: 1px solid #B2B2B2;
    padding: 0.7rem;
    border-radius: 0.4rem;
}

#new-todo-input {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border-style: solid;
    outline: 1px solid #B2B2B2;
}

.addTaskBtn:hover {
    filter: brightness(90%);
}

.btnDiv {
    display: flex;
    gap: 1rem;
}

.addBtn,
.cancelBtn {
    padding: 0.6rem;
    border-radius: 0.4rem;
    width: 100%;
    outline: 1px solid #B2B2B2;
    cursor: pointer;
}

.addBtn {
    background-color: #59CE8F;
}

.cancelBtn {
    background-color: #FF8B8B;
}